#container{
    background-color: rgb(147, 216, 37);
    width: 800px;
    padding: 100px;
}

#formId{
    background-color: white;
    width: 400px;
    padding: 50px;

}

input[type=text], input[type=password]{
    width: 90%;
    height: 50px;
    background: #f1f1f1;
    border: none;
    padding: 5px;
}
#btn{
    width: 90%;
    height: 50px;  
    border: none;
    background-color: rgb(45, 182, 45);
    color: white;
}

